SPENDLY_SECRET_KEY=ksajfkjasdfkjasdkkasjdfk32u49235890238
SPENDLY_DATABASE_PATH=D:\games\expense-tracker\expense-tracker\expense_tracker.db
SPENDLY_PORT=5001
SPENDLY_DEBUG=true
SPENDLY_MAX_CONTENT_LENGTH=5242880
SPENDLY_SESSION_COOKIE_SECURE=false
SPENDLY_BUDGET_ALERT_THRESHOLD=0.9
SPENDLY_CSV_MAX_IMPORT_ROWS=500
SPENDLY_DEMO_EMAIL=demo@spendly.com
SPENDLY_DEMO_PASSWORD=demo12345
SPENDLY_ADMIN_EMAIL=admin@spendly.com
SPENDLY_ADMIN_PASSWORD=admin12345
